body{
    font-size: 12px;
    font-family: 'Nunito Sans', sans-serif;

}

.jumbotron{
    background-image: url(https://i.ibb.co/MV9VnqK/MAN-Truck-Platooning-2.jpg);
    background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 37em;
  color: black;
    
}

#title{
    font-weight: 600;
    font-size:7em;
    /* -webkit-text-stroke: 0.01em white; */
    
}
#Jdescription{
    color: black;

    font-weight: 600;
    
    font-size:2em;
}
.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }

.card-body p{
    font-size: 1rem;
}
#indexCard {
    max-width: 350px;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    height:350px;

  }
  
#indexCard .card-image {
    position: relative;
    overflow: hidden;
  }
  p {
    margin: 0 0 1em;
}

#indexCard .card-body{
    font-size: 1.2rem;
}




  #delete{
    max-width:14px ;
    max-height:14px;
  }

  #edit{
    max-width:14px ;
    max-height:14px;
  }

  #truckText{
      height: 150px;
  }

  #error{
      font-weight: 400;
      font-size: 1.5em;
      color: red;
  }
  
  #success{
    font-weight: 400;
    font-size: 1.5em;
    color: rgb(6, 189, 6);
}

.navbar-nav {
    font-size: 1.3em;
}

.navbar-header .navbar-brand{
    font-size: 1.9em;
    font-weight: 600;
}

 .navbar-brand svg{
    padding-bottom: 0.75rem;
}